<app-header></app-header>
<main>
    
    <div id="table">
        <div id="thead">
            <div id="num" class = "titulo" id="num">N°</div>
            <div  class = "titulo" id="periodo">Mes</div>
            <div class = "titulo" id="cantidad">Usos</div>
            <div class = "titulo" id="total">Cobrado</div>
        </div>
        @for (reporte of reportes; track $index){
            <div class="contenido-tabla">
                <div class="contenido" id="indice">{{$index +1 }}</div>
                <div class="contenido" id="mes">{{reporte.periodo}}</div>
                <div class="contenido" id="usos">{{reporte.usos}}</div>
                <div class="contenido" id="cobrado">{{reporte.cobrado.toLocaleString("es-ES")}}</div>
            </div>
        }