<main>
    
    <div id="fondo">
        <form id="credenciales">
            <h3>Bienvenido a </h3>
            <h1>PARKING</h1>
            <h2>APP</h2>
            <p>Por favor, ingrese sus credenciales</p>
            <input type="text" [(ngModel)]="datosLogin.username" placeholder="Usuario" name="usuario" id="usuario">
            <input type="password" [(ngModel)]="datosLogin.password" placeholder ="Contraseña" name="password" id="contraseña">

            <button type="button" id="iniciar-sesion" (click)="login()">Iniciar Sesión</button>
            <p>></p>
        </form>
    </div>
</main>