$color-principal: rgb(11, 11, 105);
$color-fondo: white;
$color-texto: rgb(19, 8, 8);
$color-texto-invertido: white;
$color-correcto: green;
$color-error: red;
$color-boton-secundario: grey;
$color-borde-inferior: grey 1px solid;
$color-borde-inferior-precios: rgb(1, 82, 109) 2px solid;
