$color-principal: rgb(11, 11, 105);
$color-fondo: white;
$color-texto: rgb(19, 8, 8);
$color-texto-invertido: white;
$color-correcto: green;
$color-error: red;
$color-boton-secundario: grey;
$color-borde-inferior: grey 1px solid;
$color-borde-inferior-precios: rgb(1, 82, 109) 2px solid;
$color-login: rgb(29, 66, 190);
$color-borde-login: rgb(97, 203, 238);
$color-letra-login: rgb(253, 253, 253);
$color-acceso: rgb(89, 247, 89);
