$color-principal: rgb(11, 11, 105);
$color-fondo: white;
$color-texto: rgb(19, 8, 8);
$color-texto-invertido: white;
$color-correcto: rgb(21, 190, 21);
$color-error: red;
$color-boton-secundario: rgb(175, 174, 174);
$color-borde-inferior: grey 1px solid;
$color-borde-inferior-precios: rgb(1, 82, 109) 2px solid;
$color-login: rgb(29, 66, 190);
$color-borde-login: rgb(97, 203, 238);
$color-letra-login: rgb(253, 253, 253);
$color-acceso: rgb(89, 247, 89);
$color-header: rgb(7, 199, 183);
$color-letra-header: rgb(1, 85, 110);
$color-box-shadow:  rgb(211, 209, 209);
